# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Docker
docker-compose.override.yml

# Kubernetes
kubeconfig.yaml

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# Environment variables
.env
.env.local